<a href="<%= task_path %>" class="list-group-item">
  <div class="checkbox pull-left">
    <label>
      <input type="checkbox" value="">
    </label>
  </div>

  <div class="pull-left form-control-inline">
    <h4 class="list-group-item-heading"><%= task.name %></h4>
    <p class="list-group-item-text"><%= task.due %></p>
  </div>

      <span class="label label-danger pull-right"><%= task.category.name %></span>

  <div class="clearfix"></div>
</a>
