/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.task-list {
  background-color: #fff;
  margin-top: 25px;
}

.task-list li, .task-card li {
  border-bottom: 1px solid gray;
  padding:  10px;
}

.task-list input, .task-card input {
  margin-right: 10px;
}

.task-list p, .task-card p {
  margin: 5px 0px 0px 22px;
  font-size: .9rem;
  color:  #424242;
  max-width: 75%;
}

.card {
  background-color: #fff;
  margin: 0 auto;
  padding:  10px;
}

.task-details {
  background-color: #F5F5F5;
}

.side-nav {
  position: absolute;
  left: 0px;
  width: 200px;
}

.inner-nav {
  display: block;
  width: 60px;
  float: left;
}


